@if (!scenario) {
  <div class="loading-text">Loading scenario...</div>
} @else {
  <div class="editor-container">
    <mat-toolbar color="primary" class="editor-header">
      <span class="editor-title">Edit Scenario</span>
      <span class="spacer"></span>

      <button mat-raised-button color="accent" class="editor-button" (click)="cancel()">
        Cancel
      </button>
      <button
        mat-raised-button
        color="accent"
        class="editor-button"
        [disabled]="!scenarioDesigner?.isValid || scenarioDesigner?.editMode"
        (click)="saveChanges()"
      >
        Save Changes
      </button>
    </mat-toolbar>

    <div class="editor-main">
      <app-scenario-designer class="designer" [scenario]="scenario" #designer>
      </app-scenario-designer>
    </div>
  </div>
}
