<mat-card class="edit-panel">
  <h3>Edit Listener</h3>

  <form [formGroup]="editForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Height (Y)</mat-label>
      <input matInput type="number" formControlName="height" />
      @if (editForm.controls['height'].hasError('min')) {
        <mat-error> Must be ≥ {{ minListenerHeightMeters }} </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Rotation (°)</mat-label>
      <input matInput type="number" formControlName="rotation" />
      @if (
        editForm.controls['rotation'].hasError('min') ||
        editForm.controls['rotation'].hasError('max')
      ) {
        <mat-error> {{ minListenerRotation }}° to {{ maxListenerRotation }}° allowed </mat-error>
      }
    </mat-form-field>
  </form>

  <div class="edit-actions">
    <button mat-stroked-button color="primary" (click)="onSave()" [disabled]="!editForm.valid">
      Save
    </button>
    <button mat-stroked-button color="warn" (click)="onCancel()">Cancel</button>
  </div>
</mat-card>
