<div class="create-container">
  <mat-toolbar color="primary" class="create-header">
    <span class="create-title">Create Scenario</span>
    <span class="spacer"></span>

    <button mat-raised-button color="accent" class="create-button" (click)="cancel()">
      Cancel
    </button>
    <button
      mat-raised-button
      color="accent"
      class="create-button"
      [disabled]="!designer.isValid || designer.editMode"
      (click)="create()"
    >
      Create
    </button>
  </mat-toolbar>

  <div class="create-main">
    <app-scenario-designer class="designer" #designer></app-scenario-designer>
  </div>
</div>
